body {
  font-family: 'Merriweather', serif;
  font-size: 0.7rem;

  @media (min-width: 768px){
    font-size: 1rem;
  }
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
  color: #2c3e50;
  margin-top: 40px;
  margin-bottom: 30px;

  @media (min-width: 992px){
    margin-left: 15px;
  }
}

@media (min-width: 992px){
  .row-eq-height {
    display: flex;
  }
}

.vertically-center {
  align-self: center;
  width: 100%;
}

.flex-row {
  @media (min-width: 992px){
    display: flex;
    width: 100%;
  }
}

.card-column {
  background-color: #e1e4e7;
  padding-bottom: 15px;

  @media (min-width: 992px){
    justify-content: center;
    display: flex;
    padding-bottom: 0;
  }
}
