body {
  font-family: $serif-font;
  font-size: 0.7rem;

  @media ($mobile-and-up){
    font-size: 1rem;
  }
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
  color: $vcard-heading-bg-colour;
  margin-top: 40px;
  margin-bottom: $standard-margin*2;
}

h3 {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: $sans-serif-font;
  color: $heading-colour;
  text-align: right;
}

@media ($tablet-and-up){
  .row-eq-height {
    display: flex;
  }
}

.vertically-center {
  align-self: center;
  width: 100%;
}

.flex-row {
  @media ($tablet-and-up){
    display: flex;
    width: 100%;
  }
}

.card-column {
  background-color: $card-container-bg-colour;
  padding-bottom: $standard-margin;

  @media ($tablet-and-up){
    justify-content: center;
    display: flex;
    padding-bottom: 0;
  }
}
