$vcard-heading-bg-colour: #2c3e50;
$border-colour: #9a9a9a;
$secondary-text-colour: #34495e;

$card-heading-height: 100px;
$card-padding: 24px;
$avatar-width: 85px;

$sans-serif-font: 'Merriweather Sans', sans-serif;
$serif-font: 'Merriweather', serif;
