$vcard-heading-bg-colour: #2c3e50;
$border-colour: #9a9a9a;
$secondary-text-colour: #34495e;
$form-heading-colour: #b5bdc0;
$secodary-button-colour: #627b8b;
$primary-button-colour: #3f515d;

$standard-margin: 15px;


$card-heading-height: 100px;
$card-padding: 24px;
$avatar-width: 85px;

$sans-serif-font: 'Merriweather Sans', sans-serif;
$serif-font: 'Merriweather', serif;
